<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
<p>Pokemon: <br><br>


<% @pokemons.each do |pok| %>
  <%= pok %>
  <%= button_to "Damage #{pok}", damage_path(:pok => pok), :class => "button small", :method => :patch %> 
<% end %>
</p>
